<template>
    <div class="shadow col py-3">
        <form>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="title">Legenda</label>
                    <input type="text" class="form-control" id="title" placeholder="Legenda da imagem"
                           v-model="title"/>
                </div>
                <div class="form-group col-md-5">
                    <label for="file">Arquivo</label>
                    <input type="file" class="form-control" id="file" name="uploadfile" @change="uploadForm"/>
                    <small id="emailHelp" class="form-text text-muted">
                        Permitido somente arquivos PDF ou Imagens
                    </small>
                </div>
                <div class="form-group col-md-1 d-flex align-items-center text-center">
                    <button type="button" :disabled="!title || !uploadFile" class="btn btn-primary"
                            @click="sendUpload()">
                        Salvar
                    </button>
                </div>

            </div>
        </form>
    </div>
</template>

<script>

    import Swal from 'sweetalert2'

    export default {
        name: "FormUploadFiles",
        props: ['id'],
        data() {
            return {
                title: '',
                uploadFile: '',
                newFile: '',
                submitStatus: null
            };
        },
        mounted() {
            if (this.id) {
                let pointer = this;
                axios.get('/arquivos/' + pointer.id + '/show')
                    .then(function (response) {
                        pointer.title = response.data.title;
                        pointer.uploadFile = response.data.file;
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
            }
        },
        methods: {
            sendUpload: function () {
                let file = document.getElementById("file").files[0];
                let data = new FormData();


                if (this.newFile) {
                    let string = file.name;
                    let array = string.split('.');
                    let extension = array[array.length - 1];

                    if (extension == 'png' || extension == 'jpg' || extension == 'jpeg' || extension == 'pdf') {
                        data.append('uploadFile', file, file.name);
                    }else{
                        Swal.fire({
                            title: 'Erro!',
                            text: 'Fomatos suportados [ jpg, jpeg, png, pdf ]',
                            icon: 'error',
                            confirmButtonText: 'Ok'
                        })

                        return false;
                    }
                }

                data.append('title', this.title);

                let settings = {headers: {'content-type': 'multipart/form-data'}};

                let url = !this.id ? '/arquivos/store' : '/arquivos/' + this.id + '/update';

                axios.post(url, data, settings)
                    .then(response => {
                        Swal.fire({
                            title: 'Sucesso!',
                            text: 'Arquivo inserido com sucesso!',
                            icon: 'success',
                            confirmButtonText: 'Ok',
                        })

                        setTimeout(function () {
                            location.href = '/arquivos'
                        }, 4000);

                    }).catch(response => {
                    Swal.fire({
                        title: 'Erro!',
                        text: response.error.title,
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    })
                });

                return false;
            },
            uploadForm: function () {
                let file = document.getElementById("file").files[0];
                this.uploadFile = file.name;
                this.newFile = true;
            },
            getUploadFile: function () {

            }
        }
    }
</script>