<template>
    <div>
        <a href="/arquivos/create" class="btn btn-success float-right mb-2">Adicionar</a>
        <div>
            <table class="table table-striped shadow">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo de arquivo</th>
                    <th scope="col">Legenda</th>
                    <th scope="col">Arquivo</th>
                    <th scope="col">Data de cadastro</th>
                    <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(uploadFile, index) in uploadFiles">
                    <th scope="row">{{index + 1}}</th>
                    <td>{{uploadFile.type}}</td>
                    <td>{{uploadFile.title}}</td>
                    <td><a :href="'app/public/files/'+uploadFile.file+''" title="download" download>{{uploadFile.file}}</a></td>
                    <td>{{uploadFile.created_at | convertData}}</td>
                    <td>
                        <a :href="'/arquivos/'+uploadFile.id+'/edit'" class="btn btn-info">
                            Editar
                        </a>

                        <button @click="destroy(uploadFile.id)" class="btn btn-danger">
                            Deletar
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2'
    import moment from 'moment'

    export default {
        name: "ListFiles",
        data() {
            return {
                uploadFiles: []
            };
        },
        filters: {
            convertData: function (string) {
                return moment(String(string)).format('MM/DD/YYYY hh:mm')
            }
        },
        mounted() {
            this.getUploadFiles();
        },
        methods: {
            getUploadFiles: function () {
                let pointer = this;
                axios.get('/arquivos/list-files')
                    .then(function (response) {
                        pointer.uploadFiles = response.data;
                        console.log(response);
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
            },
            destroy: function(id){
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                    },
                    buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                    title: 'Tem certeza disso?',
                    text: "Esta ação não poderá ser revertida!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Sim, deletar!',
                    cancelButtonText: 'Não, cancelar!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {

                        let pointer = this;
                        axios.get('/arquivos/'+id+'/destroy')
                            .then(function (response) {
                                swalWithBootstrapButtons.fire(
                                    'Deletado!',
                                    'Registro deletado com sucesso!',
                                    'success'
                                )

                            })
                            .catch(function (error) {

                            })
                        this.getUploadFiles();
                    } else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire(
                            'Cancelado',
                            'Ação cancelada :)',
                            'error'
                        )
                    }
                })
                return false;
            }
        }
    }
</script>